generate-elp-test.json
{"name":"7dc6e9b1-05c1-4418-ae0d-4c403babf343","id":"/providers/Microsoft.Flow/flows/7dc6e9b1-05c1-4418-ae0d-4c403babf343","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"DIX_GenerateELPTest","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"1c475bf5-1778-4ad8-8822-4a65f27fbaa0","type":"User","tenantId":"1ab993e6-5837-45e4-a231-6466807ddb34"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2026-02-17T18:05:56.1006453Z","connectionKeySavedTimeKey":"2026-02-17T18:05:56.1006453Z","creationSource":null,"modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"description":"DriverEmail","title":"DriverEmail","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"text_1":{"description":"DriverName","title":"DriverName","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true},"number":{"description":"DriverID","title":"DriverID","type":"number","x-ms-content-hint":"NUMBER","x-ms-dynamically-added":true}},"required":["text","text_1","number"]}}}},"actions":{"Send_an_email_(V2)":{"runAfter":{"FinalHTML":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@outputs('Get_item_-_Driver_Records')?['body/DriverEmailAddress']","emailMessage/Subject":"@{outputs('Get_item_-_Driver_Records')?['body/Terminal/Value']} @{outputs('Get_item_-_Driver_Records')?['body/DriverName']} - English Proficiency Test","emailMessage/Body":"<p class=\"editor-paragraph\"><br>@{outputs('FinalHTML')}</p><br>","emailMessage/Bcc":"a.marquez@miasafety.com;s.reisker@miasafety.com;@{outputs('Get_my_profile_(V2)')?['body/mail']}","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_item_-_Driver_Records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://arlnetwork1.sharepoint.com/sites/IntegrationDataSheet","table":"96dc096c-8d8f-4328-8051-e78cc3c6bd1d","id":"@triggerBody()?['number']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_my_profile_(V2)":{"runAfter":{"Get_item_-_Driver_Records":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"MyProfile_V2"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Compose_ELPTest":{"runAfter":{"Get_my_profile_(V2)":["Succeeded"]},"type":"Compose","inputs":"@concat(\r\n  'https://forms.office.com/Pages/ResponsePage.aspx?id=5pO5GjdY5EWiMWRmgH3bNPVbRxx4F9hKiCJKZfJ_uqBUMUE0QVhNUEZYSk4xRUJXVU9ROFFQNExCRS4u',\r\n  '&r8355612603214a1b90764072cc89062d=',\r\n  string(outputs('Get_item_-_Driver_Records')?['body/ID']),\r\n  '&rfd92da8be67b4476a2f38efbe16f75fc=',\r\n  uriComponent(outputs('Get_item_-_Driver_Records')?['body/DriverName'])\r\n)"},"Get_file_content_-_Test_Invite":{"runAfter":{"Compose_ELPTest":["Succeeded"]},"metadata":{"%252fShared%2bDocuments%252fTemplates%252fHazmat%2bTest%2bTemplates%252fTestLink.html":"/Shared Documents/Templates/Hazmat Test Templates/TestLink.html","%252fShared%2bDocuments%252fTemplates%252fHazmat%2bTest%2bTemplates%252fTestInviteEmail.html":"/Shared Documents/Templates/Hazmat Test Templates/TestInviteEmail.html","%252fShared%2bDocuments%252fTemplates%252fEnglish%2bProficiency%2bTest%2bTemplate%252fTestInviteEmail.html":"/Shared Documents/Templates/English Proficiency Test Template/TestInviteEmail.html"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://arlnetwork1.sharepoint.com/sites/IntegrationDataSheet","id":"%252fShared%2bDocuments%252fTemplates%252fEnglish%2bProficiency%2bTest%2bTemplate%252fTestInviteEmail.html","inferContentType":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"FinalHTML":{"runAfter":{"Get_file_content_-_Test_Invite":["Succeeded"]},"type":"Compose","inputs":"@replace(\r\n  replace(\r\n      string(body('Get_file_content_-_Test_Invite')),\r\n      '{{DriverName}}',\r\n      outputs('Get_item_-_Driver_Records')?['body/DriverName']\r\n    ),\r\n  '{{ELPQuizLink}}',\r\n  outputs('Compose_ELPTest')\r\n)\r\n"},"Send_an_HTTP_request_to_SharePoint":{"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://arlnetwork1.sharepoint.com/sites/IntegrationDataSheet","parameters/method":"POST","parameters/uri":"_api/web/lists/getbytitle('Driver Records')/items(@{outputs('Get_item_-_Driver_Records')?['body/ID']})","parameters/headers":{"Content-Type":"application/json;odata=verbose","If-Match":"*","X-HTTP-Method":"MERGE"},"parameters/body":"{\n  \"__metadata\": {\n    \"type\": \"SP.Data.Driver_x0020_RecordsListItem\"\n  },\n  \"ELPTestStatus\": \"Sent\",\n  \"ELPTestSenderEmail\": \"@{outputs('Get_my_profile_(V2)')?['body/mail']}\"\n}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-c0341fcf-242a-4707-830f-f00d7d381ef8","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_sharepointonline":{"connectionName":"2a146b38a2c449cc9508b8cd43629c38","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_office365users":{"connectionName":"shared-office365user-32ab33ce-7203-40b5-94b4-b652b0195d7f","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified","apiName":"office365users","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}